@media(max-width:768px){

    .header-part{
        .banner-part{
           h4{
               font-size: 21px;
           }
            h1{
                font-size: 34px;
            }
        }
    }

    .aboutme-part{
        .columns{
           .col-md-3{
               margin-bottom: 1px;
           }
        }
    }










}